<!--suppress ALL -->
<template id="action-title">
    <!--Panel Header-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title btn-actions-create">{{ title }}</h3>
        </div>
        <!--Panel Body-->
        <div class="panel-body">
            <form v-on:submit.prevent="onUpdateAction" @click="errors.clear($event.target)">
                <!--Objetivo-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.actions.goal.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.actions.goal' | trans"></i>
                    <select id="goalSelect" name="goalSelect" v-model="goalSelect" class="form-control"
                            style="width: 100%;" v-select2 v-on:change="indicatorSelectWithGoalId">
                        <option selected disabled value>{{ 'ceap.actions.goal.placeholder' | trans }}</option>
                        <option v-for="(goal, index) in goals_select" :value="index">{{ goal }}</option>
                    </select>
                    <span class="help-form" v-if="errors.has('goalSelect')" v-text="errors.get('goalSelect')"></span>
                </div>
                <!--Indicador-->
                <div class="form-group col-md-12 col-sm-12">
                    <label for="indicator_id" class="control-label">{{ 'ceap.actions.indicator.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.actions.indicator' | trans"></i>
                    <select id="indicator_id" v-model="indicatorSelect" class="form-control" style="width: 100%;"
                            disabled>
                        <option selected disabled value>{{ 'ceap.actions.indicator.placeholder' | trans }}</option>
                        <option v-for="(indicator, index) in indicators_select" :value="index">{{ indicator }}</option>
                    </select>
                </div>
                <!--Ação-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.actions.name.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.actions.name' | trans"></i>
                    <input type="text" class="form-control" v-model="name" id="name" :placeholder="'ceap.actions.name.placeholder' | trans">
                    <span class="help-form" v-if="errors.has('name')" v-text="errors.get('name')"></span>
                </div>
                <!--Detalhamento-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.actions.details.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.actions.details' | trans"></i>
                    <summernote id="details" class="form-control"
                                name="editor"
                                :model="details"
                                v-on:change="value => { details = value }"
                                :placeholder="'ceap.actions.details.placeholder' | trans"
                    ></summernote>
                    <span class="help-form" v-if="errors.has('details')" v-text="errors.get('details')"></span>
                </div>
                <!--Responsáveis-->
                <div class="form-group col-md-6 col-sm-6">
                    <label class="control-label">{{ 'ceap.actions.users.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.actions.users' | trans"></i>
                    <select :data-placeholder="'ceap.actions.users.placeholder' | trans" id="users" name="users[]" v-model="users" class="form-control" multiple
                            v-select2 style="width: 100%;">
                        <option v-for="(user, index) in users_select" :value="index">{{ user }}</option>
                    </select>
                    <span class="help-form" v-if="errors.has('users')" v-text="errors.get('users')"></span>
                </div>
                <!--Período-->
                <div class="form-group col-md-6 col-sm-6">
                    <label class="control-label">{{ 'ceap.actions.evaluation_term.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.actions.users' | trans"></i>
                    <select :data-placeholder="'ceap.actions.users.placeholder' | trans" id="terms" name="terms[]" v-model="terms" class="form-control" style="width: 100%;">
                        <option selected disabled value>{{ 'ceap.actions.evaluation_term.placeholder' | trans }}</option>
                        <option v-for="(term, index) in terms_select" :value="index">{{ term }}</option>
                    </select>
                    <span class="help-form" v-if="errors.has('terms')" v-text="errors.get('terms')"></span>
                </div>
                <div class="form-group center-buttons col-md-12 col-sm-12 col-xs-12">
                    <input class="btn btn-success" type="submit" :value="'ceap.button.save' | trans">
                    <a class="btn btn-danger" @click="onCancelAction" type="reset">{{ 'ceap.button.cancel' | trans}}</a>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
  import moment from 'moment'
  import { Errors } from '../../../frontend/errors'
  import { Select2 } from '../../../directives/Select2Directive'

  export default {
    props: [
      'title',
      'goals_select',
      'indicators_select',
      'users_select',
      'terms_select',
      'goals_indicators_map',
      'id'
    ],
    data () {
      return {
        goalSelect: '',
        indicatorSelect: '',
        name: '',
        details: '',
        users: [],
        terms: '',
        errors: new Errors(),
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    directives: {
      Select2
    },
    created () {
      this.getActionData()
    },
    methods: {
      onCancelAction: function (location) {
        window.location = route('frontend.ceap.actions.show', this.id)
      },
      onUpdateAction: function () {
        let url = route('frontend.ceap.actions.update', this.id)
        axios
          .patch(url, this.$data)
          .then((response) => {
            window.location = route('frontend.ceap.actions.show', this.id)
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      indicatorSelectWithGoalId: function () {
        let indicatorOptions = this.goals_indicators_map[this.goalSelect].id
        this.indicatorSelect = indicatorOptions
      },
      getActionData: function () {
        let url = route('frontend.ceap.actions.json', this.id)
        axios.defaults.headers.common['Accept'] = 'application/json'
        axios
          .get(url)
          .then(response => {
            let goal_id = response.data.action.goal_id.toString()
            $('#goalSelect').val(goal_id).trigger('change')
            this.goalSelect = goal_id

            this.indicatorSelect = response.data.action.goal.indicator.id
            this.name = response.data.action.name

            $('#details').summernote('code', response.data.action.details)

            let selected_user = []
            response.data.action.users.forEach(function (user) {
              selected_user.push(user.id)
            })
            $('#users').val(selected_user).trigger('change')
            this.users = selected_user

            let evaluation_term_id = response.data.action.evaluation_term_id.toString()
            $('#terms').val(evaluation_term_id).trigger('change')
            this.terms = evaluation_term_id
          })
          .catch(errors => {console.log(errors.response.data)})
      }
    },
    computed: {},
    components: {
      'summernote': require('../../../frontend/summernoteComponent'),
    }
  }
</script>

<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        font-size: 22pt;
        height: 26px;
        margin-top: -14px;
        float: right;
        margin-left: 5px;
    }

    .select2-container .select2-selection--single {
        height: 36px;
        padding: 3px 4px;

    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 5px;
        right: 5px;
    }

    #indicator_id {
        background-image: url("") !important;
    }
</style>



