<template>
    <modal :id="'actionEvaluationModal'" :title="'ceap.actions.evaluations.modal.title' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label>{{ 'ceap.actions.name.label' | trans }}</label>
                <p style="margin-top: -7px;">{{ name }}</p>
                <label>{{ 'ceap.actions.evaluation_term.label' | trans }}</label>
                <p style="margin-top: -7px;">{{ evaluation_term_year }} - {{ evaluation_term_name }}</p>
            </div>
            <!--Implementação-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label">{{ 'ceap.actions.evaluations.modal.evaluation' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.actions.evaluations.evaluation' | trans"></i>
                <select id="evaluation" name="evaluation" v-model="evaluation" class="form-control" style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.actions.evaluations.modal.evaluation_option' | trans }}</option>
                    <option value="Unset" selected>{{ 'ceap.actions.evaluations.modal.evaluation_options.Unset' | trans }}</option>
                    <option value="Not implemented">{{ 'ceap.actions.evaluations.modal.evaluation_options.Not implemented' | trans }}</option>
                    <option value="Partially implemented">{{ 'ceap.actions.evaluations.modal.evaluation_options.Partially implemented' | trans }}</option>
                    <option value="Fully implemented">{{ 'ceap.actions.evaluations.modal.evaluation_options.Fully implemented' | trans }}</option>
                </select>
                <span class="help-form" v-if="errors.has('evaluation')" v-text="errors.get('evaluation')"></span>
            </div>
            <div v-if="this.evaluation !== '' && this.evaluation !== 'Unset'">
                <!--Resultado-->
                <div class="form-group col-md-12 col-sm-12 col-xs-12" v-if="this.evaluation === 'Partially implemented' || this.evaluation === 'Fully implemented'">
                    <label class="control-label">{{ 'ceap.actions.evaluations.modal.result' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.actions.evaluations.result' | trans"></i>
                    <div>
                        <fieldset class="rating" style="margin-top: -9px;">
                            <input type="radio" :id="'5stars'" name="rating" v-model="rating"
                                   :value="'ceap.actions.evaluations.modal.stars_rating.5stars' | trans"/><label
                                class="full" :for="'5stars'"
                                :title="'ceap.actions.evaluations.modal.stars_rating.5stars' | trans"></label>
                            <input type="radio" :id="'4stars'" name="rating" v-model="rating"
                                   :value="'ceap.actions.evaluations.modal.stars_rating.4stars' | trans"/><label
                                class="full" :for="'4stars'"
                                :title="'ceap.actions.evaluations.modal.stars_rating.4stars' | trans "></label>
                            <input type="radio" :id="'3stars'" name="rating" v-model="rating"
                                   :value="'ceap.actions.evaluations.modal.stars_rating.3stars' | trans "/><label
                                class="full" :for="'3stars'"
                                :title="'ceap.actions.evaluations.modal.stars_rating.3stars' | trans"></label>
                            <input type="radio" :id="'2stars'" name="rating" v-model="rating"
                                   :value="'ceap.actions.evaluations.modal.stars_rating.2stars' | trans"/><label
                                class="full" :for="'2stars'"
                                :title="'ceap.actions.evaluations.modal.stars_rating.2stars' | trans"></label>
                            <input type="radio" :id="'1star'" name="rating" v-model="rating"
                                   :value="'ceap.actions.evaluations.modal.stars_rating.1star' | trans"/><label
                                class="full" :for="'1star'"
                                :title="'ceap.actions.evaluations.modal.stars_rating.1star' | trans"></label>
                        </fieldset>
                        <span id="starsValue" style="margin-left: 20px; color:red">{{'ceap.actions.evaluations.modal.choose_star' | trans }}</span>
                    </div>
                    <br>
                    <span class="help-form" v-if="errors.has('rating')" v-text="errors.get('rating')"></span>
                </div>
                <!--Justificativa-->
                <div class="form-group col-md-12 col-sm-12 col-xs-12" v-if="this.evaluation === 'Not implemented' || this.evaluation === 'Partially implemented' || this.evaluation === 'Fully implemented'">
                    <label class="control-label">{{ 'ceap.actions.evaluations.modal.justification' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.actions.evaluations.justification' | trans"></i>
                    <summernote id="justification" class="form-control"
                                name="editor"
                                :model="justification"
                                v-on:change="value => { justification = value }"
                                :placeholder="'ceap.actions.details.placeholder' | trans"
                    ></summernote>
                    <span class="help-form" v-if="errors.has('justification')" v-text="errors.get('justification')"></span>
                </div>
                <!--Duplicar Ação-->
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">{{ 'ceap.actions.evaluations.modal.duplicate_title' | trans }}</label>
                    <div><input type="checkbox" name="duplicate" v-model="checked"> {{ 'ceap.actions.evaluations.modal.duplicate_text' | trans }}</div>
                </div>
            </div>
        </div>
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans}}</a>
            <span v-if="this.evaluation === '' || this.evaluation === 'Unset'">
                <input type="submit" :value="'ceap.button.plan' | trans" class="btn btn-primary" disabled="disabled">
            </span>
            <span v-else>
                <input type="submit" :value="'ceap.button.plan' | trans" class="btn btn-primary" @click="onSaveActionEvaluation">
            </span>
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'

  export default {
    data () {
      return {
        errors: new Errors(),
        name: '',
        evaluation_term_name: '',
        evaluation_term_year: '',
        evaluation: '',
        rating: '',
        justification: '',
        checked: false,
        action_id: 0
      }
    },
    mounted () {
      eventHub.$on('selected-action-id', (selected_id) => {
        this.action_id = selected_id
        this.getActionData()
      })
    },
    watch: {
      action_id() {
          this.evaluation =  '',
          this.rating = '',
          this.justification = '',
          this.checked = false
      },
      rating () {
        let userRating = this.rating
        let star = Lang.get('ceap.actions.evaluations.star')
        let stars = Lang.get('ceap.actions.evaluations.stars')

        if (userRating === '1') {
          $('span[id="starsValue"]').text('(' + userRating + ' ' + star + ')').css('color', 'black')
        } else {
          $('span[id="starsValue"]').text('(' + userRating + ' ' + stars + ')').css('color', 'black')
        }
      },
    },
    methods: {
      onSaveActionEvaluation: function () {
        let url = route('frontend.ceap.actions.evaluations.store', this.action_id)
        axios.post(url, this.$data)
          .then(function (response) {
             window.location = route('frontend.ceap.actions.index')
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getActionData: function () {
        let url = route('frontend.ceap.actions.json', this.action_id)
        axios.defaults.headers.common['Accept'] = 'application/json'
        axios
          .get(url)
          .then(response => {
            this.name = response.data.action.name
            this.evaluation_term_name = response.data.action.evaluation_term.name
            this.evaluation_term_year = response.data.action.evaluation_term.year
          })
          .catch(errors => {console.log(errors.response.data)})
      }
    },
    components: {
      'summernote': require('../../../frontend/summernoteComponent'),
    }
  }
</script>

<style>

    #app > div > div > div.col-md-10.col-sm-9 > div.alert.alert-danger {
        display: none;
    }

    .rating {
        border: none;
        float: left;
    }

    .rating > input {
        display: none;
    }

    .rating > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .rating > label {
        color: #ddd;
        float: right;
    }

    .rating > input:checked ~ label, /* show black star when clicked */
    .rating:not(:checked) > label:hover, /* hover current star */
    .rating:not(:checked) > label:hover ~ label {
        color: black;
    }

    /* hover previous stars in list */

    .rating > input:checked + label:hover, /* hover current star when changing rating */
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label, /* lighten current selection */
    .rating > input:checked ~ label:hover ~ label {
        color: black;
    }

</style>