<template>
    <modal :id="'actionEvidenceModal'" :title="'ceap.actions.evidences.panel_title' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Título-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label">{{'ceap.actions.evidences.modal.title' | trans}}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.actions.evidences.title' | trans"></i>
                <input class="form-control" name="title" id="title" type="text" :placeholder="'ceap.actions.evidences.modal.placeholder_title' | trans" v-model="title">
                <span class="help-form" v-if="errors.has('title')" v-text="errors.get('title')"></span>
            </div>
            <!--Detalhamento-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label"
                       for="details">{{'ceap.actions.evidences.modal.details' | trans}}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.actions.evidences.details' | trans"></i>
                <summernote id="details" class="form-control"
                            name="editor"
                            :model="details"
                            v-on:change="value => { details = value }"
                            :placeholder="'ceap.actions.details.placeholder' | trans"
                ></summernote>
                <span class="help-form" v-if="errors.has('details')" v-text="errors.get('details')"></span>
            </div>
            <!--Anexar arquivo-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label"
                       for="details">{{'ceap.actions.evidences.modal.attach' | trans}}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.actions.evidences.fileName' | trans"></i>
                <input name="file_name" type="file" ref="image" id="file_name" v-on:change="onFileChange($event)">
            </div>
        </div>
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans}}</a>
            <template slot="files"></template>
            <input type="submit" :value="'ceap.button.add' | trans" class="btn btn-primary" @click="onSaveActionEvidence">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'

  export default {
    props: [
      'action_id'
    ],
    data () {
      return {
        errors: new Errors(),
        title: '',
        details: '',
        file_name: ''
      }
    },
    methods: {
      onSaveActionEvidence: function () {
        let url = route('frontend.ceap.actions.evidences.store', this.action_id)
        let data = new FormData()
        data.append('title', this.title)
        data.append('details', this.details)
        data.append('file_name', this.file_name)

        axios.post(url, data)
          .then(function (response) {
            window.location = url
          })
          .catch(error => this.errors.record(error.response.data.errors))
      },
      onFileChange(event) {
        this.file_name = this.$refs.image.files[0]
      }
    },
    components: {
      'summernote': require('../../../frontend/summernoteComponent'),
    }
  }
</script>