<script>
  function getCreateCEAPIndicatorRecordsTable () {
    let table
    let indicatorGroupId = JSON.parse(sessionStorage.getItem('indicatorGroupId'))
    if (!$.fn.dataTable.isDataTable('#createCEAPIndicatorRecordsTable')) {
      table = $('#createCEAPIndicatorRecordsTable')
        .on('preXhr.dt', (e, settings, data) => {
          data.indicatorGroupId = indicatorGroupId
          data.indicatorRecordsDateSelect = $('select[name="indicatorRecordsDateSelect"] option:selected').val()
          this.indicatorRecordsDateSelect = moment(this.indicatorRecordsDateSelect).format('YYYY-MM-DD')
          data.schoolGradeGroup = $('select[name="createCEAPIndicatorRecordsSchoolGradeGroupSelect"] option:selected').val()
        })
        .DataTable({
          ajax: route('frontend.ceap.indicatorGroups.getCEAPIndicatorRecordsDataTable', indicatorGroupId),
          dom: '<\'row\'<\'col-sm-12\'tr>>',
          buttons: [],
          columns: [
            {
              data: 'indicator_name',
              name: 'indicators.name as indicator_name',
              title: 'Indicador',
              width: '70%',
              searchable: true,
              orderable: true,
              exportable: true,
              printable: true,
              responsivePriority: 1
            },
            {
              data: 'record_value',
              name: 'indicator_records.value as record_value',
              title: 'Valor do Indicador',
              width: '30%',
              searchable: false,
              orderable: false,
              exportable: true,
              printable: true,
              responsivePriority: 2,
              render: function (data, type, full, meta) {
                return '<input name="indicatorRecord[' + full.indicator_id +
                  ']" type="number" class="form-control" placeholder=0.0 step=0.1 min = 0.0 value=0.0 style="width:100%" />'
              }
            }
          ],
          responsive: true,
          processing: true,
          order: [[0, 'asc']],
          retrieve: true,
          paging: false,
          language: {
            url: ceap.datatableLanguageURL
          },
        })
    } else {
      table = $('#createCEAPIndicatorRecordsTable').DataTable().ajax.reload()
    }
    return table
  }
  export default {
    data() {
      return {
        createCEAPIndicatorRecordsStartDate: 'dd/mm/AAAA',
        createCEAPIndicatorRecordsSchoolGradeGroupSelect: '-1',
        placeholder: 'DD/MM/AAAA',
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        },
        dtHandle: null
      };
    },
    watch: {
      createCEAPIndicatorRecordsStartDate(val, oldVal) {
        let vm = this;
        vm.dtHandle = getCreateCEAPIndicatorRecordsTable()
      },
      createCEAPIndicatorRecordsSchoolGradeGroupSelect(val, oldVal) {
        let vm = this;
        vm.dtHandle = getCreateCEAPIndicatorRecordsTable()
      }
    },
    mounted() {
      let vm = this;
      // Instantiate the datatable and store the reference to the instance in our dtHandle element.
      vm.dtHandle = getCreateCEAPIndicatorRecordsTable()
    }
  }
</script>
