<template>
    <table :id="id"
           class="table dt-responsive table-condensed table-hover display"
           cellspacing="0" width="100%">
        <thead>
        <tr>
            <slot name="table-header"></slot>
        </tr>
        </thead>
    </table>
</template>

<script>
    export default {
      props: [
        'id'
      ]
    }
</script>