<template>
    <!-- Modal -->
    <div class="modal fade" :id="id" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ title }}</h4>
                </div>
                <div class="modal-body">
                    <slot name="content"></slot>
                </div>

                <div class="modal-footer">
                    <slot name="buttons"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    props: [
      'title',
      'id',
    ]
  }
</script>