<template>
    <!-- Panel -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <slot name="heading"></slot>
        </div>
        <div class="panel-body">
            <slot name="body"></slot>
        </div>
    </div>
</template>