<template>
    <modal :id="'createIndicatorModal'" :title="'ceap.indicators.modal.indicator.create' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.modal.name.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.indicator.name' | trans"></i>
                <input type="text" class="form-control" id="create_indicator_name"
                       v-model="create_indicator_name"
                       :placeholder="'ceap.indicators.modal.name.placeholder' | trans ">
                <span class="help-form" v-if="errors.has('create_indicator_name')"
                      v-text="errors.get('create_indicator_name')"></span>
            </div>
            <!--Descrição do Indicador-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.modal.description.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.indicator.description' | trans"></i>
                <summernote id="create_indicator_description" class="form-control"
                            name="editor"
                            :model="create_indicator_description"
                            v-on:change="value => { create_indicator_description = value }"
                            :placeholder="'ceap.indicators.modal.description.placeholder' | trans"
                ></summernote>
                <span class="help-form" v-if="errors.has('create_indicator_description')"
                      v-text="errors.get('create_indicator_description')"></span>
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.save' | trans" class="btn btn-primary" @click="onCreateIndicator">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'

  export default {
      data () {
        return {
          indicatorGroupId: '',
          create_indicator_name: '',
          create_indicator_description: '',
          errors: new Errors(),
          configs: {
            // https://momentjs.com/docs/#/displaying/format/
            format: 'L',
            locale: document.documentElement.lang
          }
        }
      },
      created () {
        eventHub.$on('select-change', (indicator_group_select) => {
          this.indicatorGroupId = indicator_group_select
        })
      },
      methods: {
        onCreateIndicator: function () {
          let url = route('frontend.ceap.indicators.index')
          axios.post(url, this.$data)
            .then(function (response) {
              window.location = route('frontend.ceap.indicators.create')
            })
            .catch(error => this.errors.record(error.response.data.errors))
        },
      },
      components: {
        'summernote': require('../../../frontend/summernoteComponent'),
      }
    }
</script>