<template>
    <modal :id="'deleteIndicatorModal'" :title="'ceap.indicators.modal.indicator.delete.title' | trans" v-cloak>
        <div slot="content">
            <h4>{{ 'ceap.indicators.modal.indicator.delete.message' | trans }}</h4>
            <p>{{ 'ceap.indicators.modal.indicator.delete.text' | trans }}</p>
        </div>
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans}}</a>
            <input type="submit" :value="'ceap.button.delete' | trans" class="btn btn-danger"
                   @click="onDeleteIndicator">
        </template>
    </modal>
</template>

<script>
  import { eventHub } from '../../../frontend/eventHub'

  export default {
    data () {
      return {
        indicator_id: '',
      }
    },
    mounted () {
      $('#deleteIndicatorModal').on('show.bs.modal', (event) => {
        let indicatorId = $(event.relatedTarget).data('indicator_id')
        this.indicator_id = indicatorId
      })
    },
    methods: {
      onDeleteIndicator: function () {
        let url = route('frontend.ceap.indicators.destroy', this.indicator_id)

        if (this.indicator_id != '0') {
          axios.delete(url)
            .then((response) => {
              window.location = route('frontend.ceap.indicators.create')
            })
            .catch(error => {
              this.errors.record(error.response.data.errors)
            })
        }
      }
    }
  }
</script>