<template>
    <modal :id="'editIndicatorModal'" :title="'ceap.indicators.modal.indicator.edit' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.modal.name.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.indicator.name' | trans"></i>
                <input type="text" class="form-control" id="edit_indicator_name"
                       v-model="edit_indicator_name"
                       :placeholder="'ceap.indicators.modal.name.placeholder' | trans ">
                <span class="help-form" v-if="errors.has('edit_indicator_name')"
                      v-text="errors.get('edit_indicator_name')"></span>
            </div>
            <!--Descrição do Indicador-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.modal.description.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.indicator.description' | trans"></i>
                <summernote id="edit_indicator_description" class="form-control"
                            name="editor"
                            :model="edit_indicator_description"
                            v-on:change="value => { edit_indicator_description = value }"
                            :placeholder="'ceap.indicators.modal.description.placeholder' | trans"
                ></summernote>
                <span class="help-form" v-if="errors.has('edit_indicator_description')"
                      v-text="errors.get('edit_indicator_description')"></span>
            </div>
        </div>
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans}}</a>
            <input type="submit" :value="'ceap.button.save' | trans" class="btn btn-primary"
                   @click="onEditIndicator">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'

  export default {
    data () {
      return {
        indicator_id: '',
        indicator_group_id: '',
        edit_indicator_name: '',
        edit_indicator_description: '',
        errors: new Errors(),
      }
    },
    mounted () {
      $('#editIndicatorModal').on('show.bs.modal', (event) => {
        let indicatorId = $(event.relatedTarget).data('indicator_id')
        this.indicator_id = indicatorId
        this.getIndicatorData()
      })
    },
    created () {
      eventHub.$on('select-change', (indicator_group_select) => {
        this.indicator_group_id = indicator_group_select
      })
    },
    methods: {
      onEditIndicator: function () {
        let url = route('frontend.ceap.indicators.update', this.indicator_id)
        axios
          .patch(url, this.$data)
          .then((response) => {
            window.location = route('frontend.ceap.indicators.create')+ '/?indicatorGroupId=' + this.indicator_id

          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getIndicatorData: function () {
        if (this.indicator_id != '0') {
          let url = '/indicators/' + this.indicator_id
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url)
            .then(response => {
              this.edit_indicator_name = response.data.name
              $('#edit_indicator_description').summernote('code', response.data.description)
            })
            .catch(errors => {console.log(errors.response.data)})
        }
      }
    },
    components: {
      'summernote': require('../../../frontend/summernoteComponent'),
    }
  }
</script>