// Core Overrides
$navbar-brand-bg:                     #fff !default;
$navbar-brand-logo:                   url('/img/frontend/logo_escolas.png') !default;
$navbar-brand-logo-size:              45px auto !default;