<template>
    <modal :id="'createSchoolIndicatorRecordsModal'" :title="'ceap.indicators.modal.create_register' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Data do Registro-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label">{{ 'ceap.indicators.modal.ceap.start_date' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.ceap.startDate' | trans"></i>
                <div class="input-group">
                    <date-picker v-model="createSchoolIndicatorRecordsStartDate"
                                 :placeholder="'ceap.date_format' | trans"
                                 id="createSchoolIndicatorRecordsStartDate"
                                 :config="configs">
                    </date-picker>
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                </div>
                <span class="help-form" v-if="errors.has('createSchoolIndicatorRecordsStartDate')" v-text="errors.get('createSchoolIndicatorRecordsStartDate')"></span>
            </div>
            <!--Tabela-->
            <div class="form-group create-school-indicator-records-table col-md-12 col-sm-12 col-xs-12">
                <datatable v-bind="$data" />
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.save' | trans" class="btn btn-primary" @click="onCreateSchoolGroups">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'
  import moment from 'moment'

  require("moment/min/locales.min");
  moment.locale(document.documentElement.lang);

  export default {
    data () {
      return {
        columns: [
          { title: 'Indicador', field: 'indicator_name', sortable: true },
          { title: 'Valor do Indicador', field: 'record_value', tdComp: 'edit-school-record-value' },
          { title: 'ID', field: 'indicator_record_id', visible: 'false' }
        ],
        data: [],
        total: 0,
        query: {},
        xprops: {
          eventbus: eventHub
        },
        HeaderSettings: false,
        Pagination: false,
        errors: new Errors(),
        createSchoolIndicatorRecordsStartDate: null,
        indicator_id: '',
        indicatorRecordSchool: {},
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    mounted () {
      eventHub.$on('select-indicator-change', (indicator_group_select) => {
        this.indicator_id = indicator_group_select
      })

      $('#createSchoolIndicatorRecordsModal').on('shown.bs.modal', () => {
        this.getSchoolIndicatorRecordsDataTable()
      })

      eventHub.$on('update-school-indicator-value', (value, id) => {
        this.indicatorRecordSchool[id] = value
      })
    },
    watch: {
      createSchoolIndicatorRecordsStartDate() {
        $('#createRoomsIndicatorRecordsModal .modal-body').css('display', 'flex')
        $('#createSchoolIndicatorRecordsModal .modal-body').css('overflow', 'visible')
      },

      query: {
        handler (query) {},
        deep: true
      }
    },
    methods: {
      onCreateSchoolGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.createGroupSchool', this.indicator_id)
        this.createSchoolIndicatorRecordsStartDate = moment(this.createSchoolIndicatorRecordsStartDate, 'L').format('YYYY-MM-DD')
        axios
          .post(url, {
            indicatorRecordSchool: this.indicatorRecordSchool,
            createSchoolIndicatorRecordsStartDate: this.createSchoolIndicatorRecordsStartDate
          })
          .then((response) => {
            window.location = route('frontend.ceap.indicators.index')+ '/?indicatorGroupId=' + this.indicator_id
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getSchoolIndicatorRecordsDataTable: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.getSchoolIndicatorRecordsDataTable', this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url, {
              params: {
                indicatorGroupId: this.indicator_id,
              }
            })
            .then(response => {
              this.data = response.data.data
              this.total = response.data.recordsTotal
              this.indicatorRecordSchool = {}
              this.data.forEach((item, index, arr) => {
                this.indicatorRecordSchool[item.indicator_record_id] = item.record_value
              });
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      }
    }
  }
</script>