<template>
    <modal :id="'createCEAPIndicatorRecordsModal'" :title="'ceap.indicators.modal.create_register' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Data do Registro-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label">{{ 'ceap.indicators.modal.ceap.start_date' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.ceap.startDate' | trans"></i>
                <div class="input-group">
                    <date-picker v-model="createCEAPIndicatorRecordsStartDate"
                                 :placeholder="'ceap.date_format' | trans"
                                 id="createCEAPIndicatorRecordsStartDate"
                                 :config="configs">
                    </date-picker>
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                </div>
                <span class="help-form" v-if="errors.has('createCEAPIndicatorRecordsStartDate')"
                      v-text="errors.get('createCEAPIndicatorRecordsStartDate')"></span>
            </div>
            <!--Ciclos Escolares-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label">{{ 'ceap.indicators.modal.ceap.school_grade_group.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.ceap.cycle' | trans"></i>
                <select id="createCEAPIndicatorRecordsSchoolGradeGroupSelect"
                        name="createCEAPIndicatorRecordsSchoolGradeGroupSelect"
                        v-model="createCEAPIndicatorRecordsSchoolGradeGroupSelect" class="form-control"
                        style="width: 100%;" v-on:change="">
                    <option selected disabled value>
                        {{ 'ceap.indicators.modal.ceap.school_grade_group.placeholder' | trans }}
                    </option>
                    <option v-for="(school_grade, index) in school_grades" :value="index">{{ school_grade }}</option>
                </select>
                <span class="help-form" v-if="errors.has('createCEAPIndicatorRecordsSchoolGradeGroupSelect')"
                      v-text="errors.get('createCEAPIndicatorRecordsSchoolGradeGroupSelect')"></span>
            </div>
            <!--Tabela-->
            <div class="form-group create-ceap-indicator-records-table col-sm-12"
                 v-show="createCEAPIndicatorRecordsSchoolGradeGroupSelect != ''">
                <datatable v-bind="$data" />
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.save' | trans" class="btn btn-primary"
                   @click="onCreateCEAPGroups">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'
  import moment from 'moment'

  require("moment/min/locales.min");
  moment.locale(document.documentElement.lang);

  export default {
    data () {
      return {
        columns: [
          { title: 'Indicador', field: 'indicator_name', sortable: true },
          { title: 'Valor do Indicador', field: 'record_value', tdComp: 'edit-ceap-record-value' },
          { title: 'ID', field: 'indicator_id', visible: 'false' }
        ],
        data: [],
        total: 0,
        query: {},
        xprops: {
          eventbus: eventHub
        },
        HeaderSettings: false,
        Pagination: false,
        errors: new Errors(),
        createCEAPIndicatorRecordsStartDate: null,
        createCEAPIndicatorRecordsSchoolGradeGroupSelect: '',
        indicator_id: '',
        indicatorRecordCEAP: {},
        school_grades: ceap.schoolGradeGroups,
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    mounted () {
      eventHub.$on('select-indicator-change', (indicator_group_select) => {
        this.indicator_id = indicator_group_select
      })

      eventHub.$on('update-ceap-indicator-value', (value, id) => {
        this.indicatorRecordCEAP[id] = value
      })
    },
    watch: {
      createCEAPIndicatorRecordsStartDate () {
        if (this.createCEAPIndicatorRecordsSchoolGradeGroupSelect === '') {
          $('#createCEAPIndicatorRecordsModal .modal-body').css('display', 'flex')
          $('#createCEAPIndicatorRecordsModal .modal-body').css('overflow', 'visible')
        }
      },
      createCEAPIndicatorRecordsSchoolGradeGroupSelect () {
        $('#createCEAPIndicatorRecordsModal .modal-body').css('overflow', 'auto')
        this.getCEAPIndicatorRecordsDataTable()
      },

      query: {
        handler (query) {},
        deep: true
      }
    },
    methods: {
      onCreateCEAPGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.createGroupCEAP', this.indicator_id)
        this.createCEAPIndicatorRecordsStartDate = moment(this.createCEAPIndicatorRecordsStartDate, 'L').format('YYYY-MM-DD')
        axios
          .post(url, {
            indicatorRecordCEAP: this.$data.indicatorRecordCEAP,
            createCEAPIndicatorRecordsStartDate: this.$data.createCEAPIndicatorRecordsStartDate,
            createCEAPIndicatorRecordsSchoolGradeGroupSelect: this.$data.createCEAPIndicatorRecordsSchoolGradeGroupSelect
          })
          .then((response) => {
            window.location = route('frontend.ceap.indicators.index')+ '/?indicatorGroupId=' + this.indicator_id
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getCEAPIndicatorRecordsDataTable: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.getCEAPIndicatorRecordsDataTable', this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url, {
              params: {
                indicatorGroupId: this.indicator_id,
                // indicatorRecordsDateSelect:this.createCEAPIndicatorRecordsStartDate,
                // schoolGradeGroup:this.createCEAPIndicatorRecordsSchoolGradeGroupSelect
              }
            })
            .then(response => {
              this.data = response.data.data
              this.total = response.data.recordsTotal
              this.indicatorRecordCEAP = {}
              this.data.forEach((item, index, arr) => {
                this.indicatorRecordCEAP[item.indicator_record_id] = item.record_value
              });
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      },
    }
  }
</script>

<style>
    .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
    }
</style>