<template>
    <modal :id="'createRoomsIndicatorRecordsModal'" :title="'ceap.indicators.modal.create_register' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Ano Letivo-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.records.year.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.rooms.year' | trans"></i>
                <select id="createRoomsIndicatorRecordsYearSelect"
                        name="createRoomsIndicatorRecordsYearSelect"
                        v-model="createRoomsIndicatorRecordsYearSelect" class="form-control"
                        style="width: 100%;" v-on:change="">
                    <option selected disabled value>{{ 'ceap.indicators.records.year.placeholder' | trans }}</option>
                    <option v-for="(report_date, index) in roomsReportDateMap" :value="index">{{ report_date[0].year }}</option>
                </select>
                <span class="help-form" v-if="errors.has('createRoomsIndicatorRecordsYearSelect')" v-text="errors.get('createRoomsIndicatorRecordsYearSelect')"></span>
            </div>
            <!--Indicador-->
            <div class="form-group col-md-12 col-sm-12" v-show="createRoomsIndicatorRecordsYearSelect != ''">
                <label class="control-label">{{ 'ceap.goals.indicator.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.rooms.indicator' | trans"></i>
                <select id="createRoomsIndicatorRecordsNameSelect"
                        name="createRoomsIndicatorRecordsNameSelect"
                        v-model="createRoomsIndicatorRecordsNameSelect" class="form-control"
                        style="width: 100%;" v-on:change="">
                    <option selected disabled value>{{ 'ceap.goals.indicator.placeholder' | trans }}</option>
                    <option v-for="(indicator, index) in indicatorsInfo" :value="indicator.indicator_record_id">{{ indicator.indicator_name }}</option>
                </select>
                <span class="help-form" v-if="errors.has('createRoomsIndicatorRecordsNameSelect')" v-text="errors.get('createRoomsIndicatorRecordsNameSelect')"></span>
            </div>
            <!--Data do Registro-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12" v-show="createRoomsIndicatorRecordsNameSelect != ''">
                <label class="control-label">{{ 'ceap.indicators.modal.ceap.start_date' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.ceap.startDate' | trans"></i>
                <div class="input-group">
                    <date-picker v-model="createRoomsIndicatorRecordsStartDate"
                                 :placeholder="'ceap.date_format' | trans"
                                 id="createRoomsIndicatorRecordsStartDate"
                                 :config="configs">
                    </date-picker>
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                </div>
                <span class="help-form" v-if="errors.has('createRoomsIndicatorRecordsStartDate')" v-text="errors.get('createRoomsIndicatorRecordsStartDate')"></span>
            </div>
            <!--Tabela-->
            <div class="form-group create-rooms-indicator-records-table col-sm-12" v-show="createRoomsIndicatorRecordsYearSelect != ''">
                <datatable v-bind="$data" />
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.save' | trans" class="btn btn-primary" @click="onCreateRoomsGroups">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'
  import moment from 'moment'

  require("moment/min/locales.min");
  moment.locale(document.documentElement.lang);

  export default {
    data () {
      return {
        columns: [
          { title: 'Ano Letivo', field: 'school_year', sortable: true },
          { title: 'Série', field: 'school_grade' },
          { title: 'Sala', field: 'school_room' },
          { title: 'Valor do Indicador', field: 'indicator_record_value', tdComp: 'edit-rooms-record-value' },
        ],
        data: [],
        total: 0,
        query: {},
        HeaderSettings: false,
        Pagination: false,
        xprops: {
          eventbus: eventHub
        },
        errors: new Errors(),
        createRoomsIndicatorRecordsYearSelect: '',
        createRoomsIndicatorRecordsStartDate: null,
        createRoomsIndicatorRecordsNameSelect: '',
        indicator_id: '',
        indicatorRecordRooms: {},
        indicatorsInfo: [],
        roomsReportDateMap: [],
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    mounted () {
      eventHub.$on('select-indicator-change', (indicator_group_select) => {
        this.indicator_id = indicator_group_select

        this.getIndicatorGroupGetRoomsData()
      })

      eventHub.$on('update-rooms-indicator-value', (value, id) => {
        this.indicatorRecordRooms[id] = value
      })
    },
    watch: {
      createRoomsIndicatorRecordsStartDate() {
        if(this.createRoomsIndicatorRecordsYearSelect === '') {
          $('#createRoomsIndicatorRecordsModal .modal-body').css('display', 'flex')
          $('#createRoomsIndicatorRecordsModal .modal-body').css('overflow', 'visible')
        }
      },
      createRoomsIndicatorRecordsYearSelect () {
        $('#createRoomsIndicatorRecordsModal .modal-body').css('overflow', 'auto')
        this.getRoomsIndicatorRecordsDataTable()
      },
      query: {
        handler (query) {},
        deep: true
      }
    },
    methods: {
      onCreateRoomsGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.createGroupRooms', this.indicator_id)
        this.createRoomsIndicatorRecordsStartDate = moment(this.createRoomsIndicatorRecordsStartDate, 'L').format('YYYY-MM-DD')
        axios
          .post(url, {
            createRoomsIndicatorRecordsYearSelect: this.$data.createRoomsIndicatorRecordsYearSelect,
            createRoomsIndicatorRecordsStartDate: this.$data.createRoomsIndicatorRecordsStartDate,
            createRoomsIndicatorRecordsNameSelect: this.$data.createRoomsIndicatorRecordsNameSelect,
            indicatorRecordRooms: this.$data.indicatorRecordRooms
          })
          .then((response) => {
            window.location = route('frontend.ceap.indicators.index')+ '/?indicatorGroupId=' + this.indicator_id
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
            this.createCEAPIndicatorRecordsStartDate = ''
          })
      },
      getIndicatorGroupGetRoomsData: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.getRoomsModalData', this.indicator_id)

          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url)
            .then(response => {
              this.indicatorsInfo = response.data.indicators
              this.roomsReportDateMap = response.data.roomsReportDateMap
            })
            .catch(errors => {console.log(errors.response.data)})
        }
      },
      getRoomsIndicatorRecordsDataTable: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.getRoomsIndicatorRecordsDataTable', this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url, {
              params: {
                indicatorGroupId: this.indicator_id,
                schoolClassYear:this.createRoomsIndicatorRecordsYearSelect,
                recordDate:this.updateRoomsIndicatorRecordsDateSelect,
                indicatorId: this.createRoomsIndicatorRecordsNameSelect
              }
            })
            .then(response => {
              this.data = response.data.data
              this.total = response.data.recordsTotal
              this.indicatorRecordRooms = {}
              this.data.forEach((item, index, arr) => {
                this.indicatorRecordRooms[item.indicator_record_id] = item.indicator_record_value
              });
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      }
    }
  }
</script>