<template>
    <div>
        <input v-model="rowValue" :name="'indicatorRecordSchool[' + rowId + ']'" type="number" class="form-control" placeholder="0.0" step="0.1" min="0.0" style="width:100%">
    </div>
</template>
<script>
  export default {
    props: ['value', 'field', 'row', 'xprops'],
    data() {
      return {
        rowValue: this.value,
        rowId: this.row.indicator_record_id
      }
    },
    watch: {
      rowValue () {
        this.xprops.eventbus.$emit('update-school-indicator-value', this.rowValue, this.rowId)
      },
    }
  }
</script>

