<template>
    <modal :id="'updateSchoolIndicatorRecordsModal'" :title="'ceap.indicators.modal.update_register' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Data do Registro-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label">{{ 'ceap.indicators.modal.ceap.start_date' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.ceap.startDate' | trans"></i>
                <select id="updateRoomsIndicatorRecordsDateSelect"
                        v-model="updateSchoolIndicatorRecordsDateSelect" class="form-control"
                        style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.indicators.records.date.placeholder' | trans }}</option>
                    <option v-for="item in record_date_list" :value="item.date">{{ item.date | formatDate }}</option>
                </select>
                <span class="help-form" v-if="errors.has('updateSchoolIndicatorRecordsDateSelect')"
                      v-text="errors.get('updateSchoolIndicatorRecordsDateSelect')"></span>
            </div>
            <!--Tabela-->
            <div class="form-group create-school-indicator-records-table col-md-12 col-sm-12 col-xs-12" v-show="this.updateSchoolIndicatorRecordsDateSelect != ''">
                <datatable v-bind="$data" />
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.save' | trans" class="btn btn-primary" @click="onUpdateSchoolIndicatorGroups">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'
  import moment from 'moment'

  export default {
    data() {
      return {
        columns: [
          { title: 'Indicador', field: 'indicator_name', sortable: true },
          { title: 'Valor do Indicador', field: 'indicator_record_value', tdComp: 'edit-school-record-value' },
          { title: 'ID', field: 'indicator_record_id', visible: 'false' }
        ],
        data: [],
        total: 0,
        query: {},
        xprops: {
          eventbus: eventHub
        },
        HeaderSettings: false,
        Pagination: false,
        errors: new Errors(),
        updateSchoolIndicatorRecordsDateSelect: '',
        indicator_id: '',
        indicatorRecordSchool: {},
        record_date_list: {},
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    filters: {
      formatDate: function (date) {
        let localLocale = moment(date).locale(document.documentElement.lang)
        return localLocale.format('L')
      }
    },
    mounted() {
      eventHub.$on('select-indicator-change', (indicator_group_select) => {
        this.indicator_id = indicator_group_select
        this.getSchoolModalData()
      })

      eventHub.$on('update-school-indicator-value', (value, id) => {
        this.indicatorRecordSchool[id] = value
      })
    },
    watch: {
      updateSchoolIndicatorRecordsDateSelect() {
        this.getSchoolIndicatorRecordsDataTable()
      },

      query: {
        handler (query) {

        },
        deep: true
      }
    },
    methods: {
      onUpdateSchoolIndicatorGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.updateGroupSchool', this.indicator_id)
        this.updateSchoolIndicatorRecordsDateSelect = moment(this.updateSchoolIndicatorRecordsDateSelect).format('YYYY-MM-DD')
        axios
          .post(url, {
            indicatorRecordSchool: this.indicatorRecordSchool,
            updateSchoolIndicatorRecordsDateSelect: this.updateSchoolIndicatorRecordsDateSelect
          })
          .then((response) => {
            window.location = route('frontend.ceap.indicators.index')+ '/?indicatorGroupId=' + this.indicator_id
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getSchoolModalData: function () {
        if (this.indicator_id != '0') {
          let url = ceap.indicatorGroupsGetSchoolModalDataRoute.replace('/0', '/' + this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url)
            .then(response => {
              this.record_date_list = response.data
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      },
      getSchoolIndicatorRecordsDataTable: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.getSchoolIndicatorRecordsDataTable', this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url, {
              params: {
                indicatorGroupId: this.indicator_id,
                indicatorRecordsDateSelect: this.updateSchoolIndicatorRecordsDateSelect
              }
            })
            .then(response => {
              this.data = response.data.data
              this.total = response.data.recordsTotal
              this.indicatorRecordSchool = {}
              this.data.forEach((item, index, arr) => {
                this.indicatorRecordSchool[item.indicator_record_id] = item.indicator_record_value
              });
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      }
    }
  }
</script>