<template>
    <modal :id="'updateRoomsIndicatorRecordsModal'" :title="'ceap.indicators.modal.update_register' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Ano Letivo-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.records.year.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.rooms.year' | trans"></i>
                <select id="updateRoomsIndicatorRecordsYearSelect"
                        name="updateRoomsIndicatorRecordsYearSelect"
                        v-model="updateRoomsIndicatorRecordsYearSelect" class="form-control"
                        style="width: 100%;" v-on:change="">
                    <option selected disabled value>{{ 'ceap.indicators.records.year.placeholder' | trans }}</option>
                    <option v-for="(report_date, index) in rooms_report_dates" :value="index">{{ index }}</option>
                </select>
                <span class="help-form" v-if="errors.has('updateRoomsIndicatorRecordsYearSelect')"
                      v-text="errors.get('updateRoomsIndicatorRecordsYearSelect')"></span>
            </div>
            <!--Indicador-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12"  v-show="updateRoomsIndicatorRecordsYearSelect != ''">
                <label class="control-label">{{ 'ceap.goals.indicator.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.rooms.indicator' | trans"></i>
                <select id="updateRoomsIndicatorRecordsNameSelect"
                        name="updateRoomsIndicatorRecordsNameSelect"
                        v-model="updateRoomsIndicatorRecordsNameSelect" class="form-control"
                        style="width: 100%;" v-on:change="">
                    <option selected disabled value>{{ 'ceap.goals.indicator.placeholder' | trans }}</option>
                    <option v-for="indicator in getRoomsIndicators" :value="indicator.id">{{ indicator.name }}</option>
                </select>
                <span class="help-form" v-if="errors.has('updateRoomsIndicatorRecordsNameSelect')"
                      v-text="errors.get('updateRoomsIndicatorRecordsNameSelect')"></span>
            </div>
            <!--Data do Registro-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12" v-show="updateRoomsIndicatorRecordsNameSelect != ''">
                <label class="control-label">{{ 'ceap.indicators.modal.ceap.start_date' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.ceap.startDate' | trans"></i>
                <select id="updateRoomsIndicatorRecordsDateSelect"
                        v-model="updateRoomsIndicatorRecordsDateSelect" class="form-control"
                        style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.indicators.records.date.placeholder' | trans }}</option>
                    <option v-for="register in getRoomsRecordsDate" :value="register.date">{{ register.date | formatDate }}</option>
                </select>
                <span class="help-form" v-if="errors.has('updateRoomsIndicatorRecordsDateSelect')"
                      v-text="errors.get('updateRoomsIndicatorRecordsDateSelect')"></span>
            </div>
            <!--Tabela-->
            <div class="form-group create-rooms-indicator-records-table col-md-12 col-sm-12 col-xs-12"
                 v-show="updateRoomsIndicatorRecordsDateSelect != ''">
                <datatable v-bind="$data" />
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.save' | trans" class="btn btn-primary" @click="onUpdateRoomsIndicatorGroups">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'
  import moment from 'moment'

  export default {
    data () {
      return {
        columns: [
          { title: 'Ano Letivo', field: 'school_year', sortable: true },
          { title: 'Série', field: 'school_grade' },
          { title: 'Sala', field: 'school_room' },
          { title: 'Valor do Indicador', field: 'indicator_record_value', tdComp: 'edit-rooms-record-value' },
        ],
        data: [],
        total: 0,
        query: {},
        HeaderSettings: false,
        Pagination: false,
        xprops: {
          eventbus: eventHub
        },
        errors: new Errors(),
        updateRoomsIndicatorRecordsYearSelect: '',
        updateRoomsIndicatorRecordsDateSelect: '',
        updateRoomsIndicatorRecordsNameSelect: '',
        indicatorRecordRooms: {},
        indicators_list: {},
        rooms_report_dates: {},
        indicator_id: '',
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    filters: {
      formatDate: function (date) {
        let localLocale = moment(date).locale(document.documentElement.lang)
        return localLocale.format('L')
      }
    },
    mounted() {
      eventHub.$on('select-indicator-change', (indicator_group_select) => {
        this.indicator_id = indicator_group_select
        this.getRoomsModalData()
      })

      eventHub.$on('update-rooms-indicator-value', (value, id) => {
        this.indicatorRecordRooms[id] = value
      })
    },
    watch: {
      updateRoomsIndicatorRecordsYearSelect() {
        this.updateRoomsIndicatorRecordsDateSelect = ''
        this.updateRoomsIndicatorRecordsNameSelect = ''
      },

      updateRoomsIndicatorRecordsNameSelect() {
        this.updateRoomsIndicatorRecordsDateSelect = ''
      },

      updateRoomsIndicatorRecordsDateSelect() {
        this.getRoomsIndicatorRecordsDataTable()
      },

      query: {
        handler (query) {

        },
        deep: true
      }
    },
    computed: {
      getRoomsIndicators: function () {
        let entries = this.rooms_report_dates[this.updateRoomsIndicatorRecordsYearSelect]
        let idSet = new Set()
        let nameSet = new Set()

        for(let obj in entries) {
          idSet.add(entries[obj].indicator_id)
          nameSet.add(entries[obj].name)
        }

        let idArray = Array.from(idSet)
        let nameArray = Array.from(nameSet)

        let response = []
        for(let i = 0; i < idArray.length; i++) {
          response.push({id: idArray[i], name: nameArray[i]})
        }
        return response
      },
      getRoomsRecordsDate: function () {
        let entries = this.rooms_report_dates[this.updateRoomsIndicatorRecordsYearSelect]
        let dateSet = new Set()

        for(let obj in entries) {
          if(entries[obj].indicator_id === this.updateRoomsIndicatorRecordsNameSelect) {
            dateSet.add(entries[obj].date)
          }
        }

        let dateArray = Array.from(dateSet)

        let response = []
        for(let i = 0; i < dateArray.length; i++) {
          response.push({date: dateArray[i]})
        }
        return response
      }
    },
    methods: {
      onUpdateRoomsIndicatorGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.updateGroupRooms', this.indicator_id)
        this.updateRoomsIndicatorRecordsDateSelect = moment(this.updateRoomsIndicatorRecordsDateSelect).format('YYYY-MM-DD')
        axios
          .post(url, {
            updateRoomsIndicatorRecordsYearSelect: this.$data.updateRoomsIndicatorRecordsYearSelect,
            updateRoomsIndicatorRecordsDateSelect: this.$data.updateRoomsIndicatorRecordsDateSelect,
            updateRoomsIndicatorRecordsNameSelect: this.$data.updateRoomsIndicatorRecordsNameSelect,
            indicatorRecordRooms: this.$data.indicatorRecordRooms
          })
          .then((response) => {
            window.location = route('frontend.ceap.indicators.index')+ '/?indicatorGroupId=' + this.indicator_id
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getRoomsModalData: function () {
        if (this.indicator_id != '0') {
          let url = ceap.indicatorGroupsGetRoomsModalDataRoute.replace('/0', '/' + this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url)
            .then(response => {
              this.indicators_list = response.data.indicators
              this.rooms_report_dates = response.data.roomsReportDateMap
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      },
      filterByYear(year){
        let mapa = this.rooms_report_dates[year]
      },
      getRoomsIndicatorRecordsDataTable: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.getRoomsIndicatorRecordsDataTable', this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url, {
              params: {
                indicatorGroupId: this.indicator_id,
                schoolClassYear:this.updateRoomsIndicatorRecordsYearSelect,
                recordDate:this.updateRoomsIndicatorRecordsDateSelect,
                indicatorId: this.updateRoomsIndicatorRecordsNameSelect
              }
            })
            .then(response => {
              this.data = response.data.data
              this.total = response.data.recordsTotal
              this.indicatorRecordRooms = {}
              this.data.forEach((item, index, arr) => {
                this.indicatorRecordRooms[item.indicator_record_id] = item.indicator_record_value
              });
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      }
    }
  }
</script>