<template>
    <modal :id="'updateCEAPIndicatorRecordsModal'" :title="'ceap.indicators.modal.update_register' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Data do Relatório-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <label class="control-label">{{ 'ceap.indicators.records.date.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.ceap.startDate' | trans"></i>
                <select id="updateCEAPIndicatorRecordsDateSelect"
                        v-model="updateCEAPIndicatorRecordsDateSelect" class="form-control"
                        style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.indicators.records.date.placeholder' | trans }}</option>
                    <option v-for="(date, index) in indicator_dates" :value="index">{{ index | formatDate }}</option>
                </select>
                <span class="help-form" v-if="errors.has('updateCEAPIndicatorRecordsDateSelect')"
                      v-text="errors.get('updateCEAPIndicatorRecordsDateSelect')"></span>
            </div>
            <!--Ciclos Escolares-->
            <div class="form-group col-md-12 col-sm-12 col-xs-12" v-show="updateCEAPIndicatorRecordsDateSelect != ''">
                <label class="control-label">{{ 'ceap.indicators.modal.ceap.school_grade_group.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.ceap.cycle' | trans"></i>
                <select id="updateCEAPIndicatorRecordsSchoolGradeGroupSelect"
                        name="updateCEAPIndicatorRecordsSchoolGradeGroupSelect"
                        v-model="updateCEAPIndicatorRecordsSchoolGradeGroupSelect" class="form-control"
                        style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.indicators.records.date.placeholder' | trans }}</option>
                    <option v-for="item in getGrades" :value="item.grade">{{ item.title }}</option>
                </select>
                <span class="help-form" v-if="errors.has('updateCEAPIndicatorRecordsSchoolGradeGroupSelect')"
                      v-text="errors.get('updateCEAPIndicatorRecordsSchoolGradeGroupSelect')"></span>
            </div>
            <!--Tabela-->
            <div class="form-group update-ceap-indicator-records-table col-md-12 col-sm-12 col-xs-12"
                 v-show="updateCEAPIndicatorRecordsSchoolGradeGroupSelect != ''">
                <datatable v-bind="$data" />
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.save' | trans" class="btn btn-primary"
                   @click="onUpdateIndicatorGroups">
        </template>
    </modal>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'
  import moment from 'moment'

  export default {
    data() {
      return {
        columns: [
          { title: 'Indicador', field: 'indicator_name', sortable: true },
          { title: 'Valor do Indicador', field: 'indicator_record_value', tdComp: 'edit-ceap-record-value' },
          { title: 'ID', field: 'indicator_record_id', visible: 'false' }
        ],
        data: [],
        total: 0,
        query: {},
        xprops: {
          eventbus: eventHub
        },
        HeaderSettings: false,
        Pagination: false,
        errors: new Errors(),
        updateCEAPIndicatorRecordsDateSelect: '',
        updateCEAPIndicatorRecordsSchoolGradeGroupSelect: '',
        indicator_id: '',
        indicatorRecordCEAP: {},
        indicator_dates: {},
        school_grades: {},
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang,
        },
      }
    },
    filters: {
      formatDate: function (date) {
        let localLocale = moment(date).locale(document.documentElement.lang)
        return localLocale.format('L')
      }
    },
    mounted() {
      eventHub.$on('select-indicator-change', (indicator_group_select) => {
        this.indicator_id = indicator_group_select
        this.getCEAPModalData()
      })

      eventHub.$on('update-ceap-indicator-value', (value, id) => {
        this.indicatorRecordCEAP[id] = value
      })
    },
    watch: {
      updateCEAPIndicatorRecordsDateSelect(newValue, oldValue) {
        this.updateCEAPIndicatorRecordsSchoolGradeGroupSelect = ''
      },

      updateCEAPIndicatorRecordsSchoolGradeGroupSelect() {
        this.getCEAPIndicatorRecordsDataTable()
      },

      query: {
        handler (query) {},
        deep: true
      }
    },
    computed: {
      getGrades: function () {
        let result = []
        for (let obj in this.indicator_dates[this.updateCEAPIndicatorRecordsDateSelect]) {
          let grade = this.indicator_dates[this.updateCEAPIndicatorRecordsDateSelect][obj].school_grade_group
          let title = this.school_grades[grade]
          result.push({grade: grade, title: title})
        }
        return result
      }
    },
    methods: {
      onUpdateIndicatorGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.updateGroupCEAP', this.indicator_id)
        this.updateCEAPIndicatorRecordsDateSelect = moment(this.updateCEAPIndicatorRecordsDateSelect).format('YYYY-MM-DD')
        axios
          .post(url, {
            indicatorRecordCEAP: this.$data.indicatorRecordCEAP,
            updateCEAPIndicatorRecordsDateSelect: this.$data.updateCEAPIndicatorRecordsDateSelect,
            updateCEAPIndicatorRecordsSchoolGradeGroupSelect: this.$data.updateCEAPIndicatorRecordsSchoolGradeGroupSelect
          })
          .then((response) => {
            window.location = route('frontend.ceap.indicators.index')+ '/?indicatorGroupId=' + this.indicator_id
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getCEAPModalData: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.getCEAPModalData', this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url)
            .then(response => {
              this.indicator_dates = response.data.ceapReportDateMap
              this.school_grades = response.data.schoolGradeGroups
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      },
      getCEAPIndicatorRecordsDataTable: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.getCEAPIndicatorRecordsDataTable', this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url, {
              params: {
                indicatorGroupId: this.indicator_id,
                indicatorRecordsDateSelect:this.updateCEAPIndicatorRecordsDateSelect,
                schoolGradeGroup:this.updateCEAPIndicatorRecordsSchoolGradeGroupSelect
              }
            })
            .then(response => {
              this.data = response.data.data
              this.total = response.data.recordsTotal
              this.indicatorRecordCEAP = {}
              this.data.forEach((item, index, arr) => {
                this.indicatorRecordCEAP[item.indicator_record_id] = item.indicator_record_value
              });
            })
            .catch(errors => {
              console.log(errors.response.data)
            })
        }
      }
    }
  }
</script>