<!--suppress ALL -->
<!--Modal Criar Grupo-->
<template>
    <modal :id="'showModal'" :title="'ceap.indicators.modal.create' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Nome do Grupo-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.modal.group.name.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.name' | trans "></i>
                <input type="text" class="form-control" id="create_indicator_group_name"
                       v-model="create_indicator_group_name"
                       :placeholder="'ceap.indicators.modal.group.name.placeholder' | trans ">
                <span class="help-form" v-if="errors.has('create_indicator_group_name')"
                      v-text="errors.get('create_indicator_group_name')"></span>
            </div>
            <!--Descrição do Grupo-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.modal.group.description.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.description' | trans"></i>
                <summernote id="create_indicator_group_description" class="form-control"
                            name="editor"
                            :model="create_indicator_group_description"
                            v-on:change="value => { create_indicator_group_description = value }"
                            :placeholder="'ceap.actions.details.placeholder' | trans"
                ></summernote>
                <span class="help-form" v-if="errors.has('create_indicator_group_description')"
                      v-text="errors.get('create_indicator_group_description')"></span>
            </div>
            <!--Tipo-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.group.type.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.type' | trans "></i>
                <select :data-placeholder="'ceap.indicators.group.type.placeholder' | trans"
                        id="create_indicator_group_type" name="create_indicator_group_type"
                        v-model="create_indicator_group_type" class="form-control"
                        style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.indicators.group.type.placeholder' | trans }}</option>
                    <option v-for="(group_type, index) in indicator_group_types" :value="index">{{ group_type }}
                    </option>
                </select>
                <span class="help-form" v-if="errors.has('create_indicator_group_type')"
                      v-text="errors.get('create_indicator_group_type')"></span>
            </div>
            <!--Ciclo-->
            <div class="form-group col-md-6 col-sm-6">
                <label class="control-label">{{ 'ceap.indicators.modal.cycle.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.cycle' | trans"></i>
                <select :data-placeholder="'ceap.indicators.group.type.placeholder' | trans"
                        id="create_indicator_group_evaluation_cycle" name="create_indicator_group_evaluation_cycle"
                        v-model="create_indicator_group_evaluation_cycle" class="form-control"
                        style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.indicators.modal.cycle.placeholder' | trans }}</option>
                    <option v-for="(cycle, index) in cycles" :value="index">{{ cycle }}
                    </option>
                </select>
                <span class="help-form" v-if="errors.has('create_indicator_group_evaluation_cycle')"
                      v-text="errors.get('create_indicator_group_evaluation_cycle')"></span>
            </div>
            <!--Início do Acompanhamento-->
            <div class="form-group col-md-6 col-sm-6">
                <label class="control-label">{{ 'ceap.indicators.modal.start_date.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.startDate' | trans"></i>
                <div class="input-group">
                    <date-picker v-model="create_indicator_group_start_date"
                                 :placeholder="'ceap.date_format' | trans"
                                 id="create_indicator_group_start_date"
                                 :config="configs">
                    </date-picker>
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                </div>
                <span class="help-form" v-if="errors.has('create_indicator_group_start_date')"
                      v-text="errors.get('create_indicator_group_start_date')"></span>
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.save' | trans"
                   class="btn btn-success" @click="onCreateIndicatorGroups">
        </template>
    </modal>
    <!--Fim do modal Criar Grupo-->
</template>

<script>
  import moment from 'moment'
  import { Errors } from '../../../frontend/errors'

  export default {
    props: [
      'indicator_group_types',
      'cycles'
    ],
    data () {
      return {
        create_indicator_group_name: '',
        create_indicator_group_description: '',
        create_indicator_group_type: '',
        create_indicator_group_evaluation_cycle: '',
        create_indicator_group_start_date: null,
        errors: new Errors(),
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    methods: {
      onCreateIndicatorGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.store')
        this.create_indicator_group_start_date = moment(this.create_indicator_group_start_date).format('YYYY-MM-DD')
        axios.post(url, this.$data)
          .then(function (response) {
            window.location = route('frontend.ceap.inticators.create')
            window.location = route('frontend.ceap.indicators.create')
          })
          .catch(error => this.errors.record(error.response.data.errors))
      }
    },
    components: {
      'summernote': require('../../../frontend/summernoteComponent'),
    }
  }
</script>