<template>
    <modal :id="'deleteModal'" :title="'ceap.indicators.modal.delete.title' | trans" v-cloak>
        <h4 slot="content">{{ 'ceap.indicators.modal.delete.message' | trans }}</h4>
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans}}</a>
            <input type="submit" :value="'ceap.button.delete' | trans" class="btn btn-danger" @click="onDeleteIndicatorGroups">
        </template>
    </modal>
</template>

<script>
  import { eventHub } from '../../../frontend/eventHub'

  export default {
    props: [
      'id'
    ],
    data () {
      return {
        indicator_id: this.id,
      }
    },
    created () {
      eventHub.$on('select-change', (indicator_group_select) => {
        this.indicator_id = indicator_group_select
      })
    },
    methods: {
      onDeleteIndicatorGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.destroy', this.indicator_id)
        console.log(url)
        if(this.indicator_id != '0') {
          axios.delete(url)
            .then((response) => {
              window.location = route('frontend.ceap.indicators.create')
            })
            .catch(error => {
              this.errors.record(error.response.data.errors)
            })
        }
      }
    }
  }
</script>