<!--suppress ALL -->
<!--Modal Editar Grupo-->
<template>
    <modal :id="'editModal'" :title="'ceap.indicators.modal.edit' | trans" v-cloak>
        <div slot="content" @click="errors.clear($event.target)">
            <!--Nome do Grupo-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.modal.group.name.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.name' | trans "></i>
                <input type="text" class="form-control" id="edit_indicator_group_name"
                       v-model="edit_indicator_group_name"
                       :placeholder="'ceap.indicators.modal.group.name.placeholder' | trans ">
                <span class="help-form" v-if="errors.has('edit_indicator_group_name')"
                      v-text="errors.get('edit_indicator_group_name')"></span>
            </div>
            <!--Descrição do Grupo-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.modal.group.description.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.description' | trans"></i>
                <summernote id="edit_indicator_group_description" class="form-control"
                            name="editor"
                            :model="edit_indicator_group_description"
                            v-on:change="value => { edit_indicator_group_description = value }"
                            :placeholder="'ceap.actions.details.placeholder' | trans"
                ></summernote>
                <span class="help-form" v-if="errors.has('edit_indicator_group_description')"
                      v-text="errors.get('edit_indicator_group_description')"></span>
            </div>
            <!--Tipo-->
            <div class="form-group col-md-12 col-sm-12">
                <label class="control-label">{{ 'ceap.indicators.group.type.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.type' | trans "></i>
                <select :data-placeholder="'ceap.indicators.group.type.placeholder' | trans"
                        id="edit_indicator_group_type" name="edit_indicator_group_type"
                        v-model="edit_indicator_group_type" class="form-control"
                        style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.indicators.group.type.placeholder' | trans }}</option>
                    <option v-for="(group_type, index) in indicator_group_types" :value="index">{{ group_type }}
                    </option>
                </select>
                <span class="help-form" v-if="errors.has('edit_indicator_group_type')"
                      v-text="errors.get('edit_indicator_group_type')"></span>
            </div>
            <!--Ciclo-->
            <div class="form-group col-md-6 col-sm-6">
                <label class="control-label">{{ 'ceap.indicators.modal.cycle.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.cycle' | trans"></i>
                <select :data-placeholder="'ceap.indicators.group.type.placeholder' | trans"
                        id="edit_indicator_group_evaluation_cycle" name="edit_indicator_group_evaluation_cycle"
                        v-model="edit_indicator_group_evaluation_cycle" class="form-control"
                        style="width: 100%;">
                    <option selected disabled value>{{ 'ceap.indicators.modal.cycle.placeholder' | trans }}</option>
                    <option v-for="(cycle, index) in cycles" :value="index">{{ cycle }}
                    </option>
                </select>
                <span class="help-form" v-if="errors.has('edit_indicator_group_evaluation_cycle')"
                      v-text="errors.get('edit_indicator_group_evaluation_cycle')"></span>
            </div>
            <!--Início do Acompanhamento-->
            <div class="form-group col-md-6 col-sm-6">
                <label class="control-label">{{ 'ceap.indicators.modal.start_date.label' | trans }}</label>
                <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                   :title="'tooltips.indicators.modal.group.startDate' | trans"></i>
                <div class="input-group">
                    <date-picker v-model="edit_indicator_group_start_date"
                                 :placeholder="'ceap.date_format' | trans"
                                 id="edit_indicator_group_start_date"
                                 :config="configs">
                    </date-picker>
                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                </div>
                <span class="help-form" v-if="errors.has('edit_indicator_group_start_date')"
                      v-text="errors.get('edit_indicator_group_start_date')"></span>
            </div>
        </div>
        <!--Botoes-->
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans }}</a>
            <input type="submit" :value="'ceap.button.edit' | trans" class="btn btn-primary"
                   @click="onEditIndicatorGroups">
        </template>
    </modal>
    <!--Fim do modal Editar Grupo-->
</template>

<script>
  import moment from 'moment'
  import { Errors } from '../../../frontend/errors'
  import { eventHub } from '../../../frontend/eventHub'

  export default {
    props: [
      'indicator_group_types',
      'cycles',
      'id'
    ],
    data () {
      return {
        edit_indicator_group_name: '',
        edit_indicator_group_description: '',
        edit_indicator_group_type: '',
        edit_indicator_group_evaluation_cycle: '',
        edit_indicator_group_start_date: null,
        indicator_id: this.id,
        errors: new Errors(),
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    created () {
      eventHub.$on('select-change', (indicator_group_select) => {
        this.indicator_id = indicator_group_select
        this.getIndicatorGroupData()
        console.log('evento capturado: ' + this.indicator_id)
      })
    },
    methods: {
      onEditIndicatorGroups: function () {
        let url = route('frontend.ceap.indicatorGroups.edit', this.indicator_id)
        this.edit_indicator_group_start_date = moment(this.edit_indicator_group_start_date).format('YYYY-MM-DD')
        axios
          .patch(url, this.$data)
          .then((response) => {
            window.location = route('frontend.ceap.indicators.create')
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getIndicatorGroupData: function () {
        if (this.indicator_id != '0') {
          let url = route('frontend.ceap.indicatorGroups.edit', this.indicator_id)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url)
            .then(response => {
              this.edit_indicator_group_name = response.data.name
              this.edit_indicator_group_type = response.data.type
              $('#edit_indicator_group_description').summernote('code', response.data.description)
              this.edit_indicator_group_evaluation_cycle = response.data.evaluation_cycle_id
              this.edit_indicator_group_start_date = response.data.next_evaluation_date
            })
            .catch(errors => {console.log(errors.response.data)})
        }
      }
    },
    components: {
      'summernote': require('../../../frontend/summernoteComponent'),
    }
  }
</script>