<!--suppress ALL -->
<template>
    <div>
        <!--Grupo de Indicadores-->
        <div class="panel panel-default">
            <div class="panel-heading">{{ 'ceap.indicators.group.panel_title' | trans }}</div>
            <div class="panel-body">
                <div>
                    <div class="form-group col-md-8 col-sm-6">
                        <label class="control-label">{{ 'ceap.indicators.group.name' | trans }}</label>
                        <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                           :title="'ceap.indicators.group.placeholder' | trans"></i>
                        <select id="indicator_id" name="indicator_id" v-model="indicator_group_select"
                                class="form-control" style="width: 100%;">
                            <option selected value="0" disabled>{{ 'ceap.indicators.group.placeholder' | trans }}</option>
                            <option v-for="(indicator_group, index) in indicator_group" :value="index">{{ indicator_group }}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-6 group-buttons">
                        <button class="btn btn-success" data-toggle="modal" data-target="#showModal">
                            {{ 'ceap.button.add' | trans }}
                        </button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#editModal"
                                v-show="indicator_group_select">
                            {{ 'ceap.button.edit' | trans }}
                        </button>
                        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                v-show="indicator_group_select">
                            {{ 'ceap.button.delete' | trans }}
                        </button>
                    </div>
                </div>
                <div class="form-group col-md-12 col-sm-12" v-show="indicator_group_select">
                    <dl>
                        <dt>{{ 'ceap.indicators.group.description' | trans }}</dt>
                        <dd style="margin-bottom:10px">
                            <div v-html="indicator_group_description"></div>
                        </dd>
                        <dt>{{ 'ceap.indicators.group.cycle' | trans }}</dt>
                        <dd style="margin-bottom:10px">
                            <p>{{ indicator_group_evaluation_cycle }}</p>
                        </dd>
                        <dt>{{ 'ceap.indicators.group.type.label' | trans }}</dt>
                        <dd style="margin-bottom:10px">
                            <p>{{ indicator_group_type }}</p>
                        </dd>
                        <dt>{{ 'ceap.indicators.group.start_date' | trans}}</dt>
                        <dd style="margin-bottom:10px">
                            <p>{{ indicator_group_start_date | formatDate }}</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <!--Fim do Grupo de Indicadores-->
    </div>
</template>

<script>
  import { eventHub } from '../../../frontend/eventHub'
  import moment from 'moment'

  export default {
    props: [
      'indicator_group',
      'indicator_id',
    ],
    data () {
      return {
        indicator_group_select: '',
        indicator_group_description: '',
        indicator_group_evaluation_cycle: '',
        indicator_group_type: '',
        indicator_group_start_date: '',
        configs: {
          // https://momentjs.com/docs/#/displaying/format/
          format: 'L',
          locale: document.documentElement.lang
        }
      }
    },
    watch: {
      indicator_group_select () {
        this.getIndicatorGroupData()
      }
    },
    created () {
      this.indicator_group_select = this.indicator_id
    },
    filters: {
      formatDate: function (date) {
        let localLocale = moment(date).locale(document.documentElement.lang)
        return localLocale.format('L')
      }
    },
    methods: {
      getIndicatorGroupData: function () {
        if (this.indicator_group_select != '0') {
          let url = route('frontend.ceap.indicatorGroups.show', this.indicator_group_select)
          axios.defaults.headers.common['Accept'] = 'application/json'
          axios
            .get(url)
            .then(response => {
              this.indicator_group_description = response.data.description
              this.indicator_group_evaluation_cycle = ceap.cyclesMap[response.data.evaluation_cycle_id]
              this.indicator_group_type = ceap.indicatorGroupTypesMap[response.data.type]
              this.indicator_group_start_date = response.data.next_evaluation_date
              eventHub.$emit('select-change', this.indicator_group_select)
              console.log('evento emitido: ' + this.indicator_group_select)

              // Put values on request before datatable ajax method call
              $('#indicatorsByGroupDT')
                .on('preXhr.dt', (e, settings, data) => {
                  data.indicatorGroupId = this.indicator_group_select
                })
                .DataTable().ajax.reload()
            })
            .catch(errors => {console.log(errors.response.data)})
          $('.indicatorsByGroupPanel').css('display', 'inherit')
        }
      }
    }
  }
</script>
