<template>
    <modal :id="'deleteAgreementModal'" :title="'ceap.agreements.modal.delete.title' | trans" v-cloak>
        <div slot="content">
            <h4>{{ 'ceap.agreements.modal.delete.message' | trans }}</h4>
            <p>{{ 'ceap.agreements.modal.delete.text' | trans }}</p>
        </div>
        <template slot="buttons">
            <a class="btn btn-primary" data-dismiss="modal">{{ 'ceap.button.back' | trans}}</a>
            <input type="submit" :value="'ceap.button.delete' | trans" class="btn btn-danger"
                   @click="onDeleteAgreement">
        </template>
    </modal>
</template>

<script>
  export default {
    props: [
      'id'
    ],
    methods: {
      onDeleteAgreement: function () {
        let url = route('frontend.ceap.agreements.destroy', this.id)
        axios.delete(url)
          .then((response) => {
            window.location = route('frontend.ceap.agreements.index')
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      }
    }
  }
</script>