<template>
    <modal :id="'agreementTrashModal'" :title="'ceap.agreements.modal.trash.title' | trans">
        <div slot="content">
            <h4>{{ 'ceap.agreements.modal.trash.message' | trans }}</h4>
            <p>{{ 'ceap.agreements.modal.trash.text' | trans }}</p>
        </div>
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans}}</a>
            <input type="submit" :value="'ceap.button.trash' | trans" class="btn btn-warning"
                   @click="onTrashAgreement">
        </template>
    </modal>
</template>

<script>
  export default {
    props: [
      'id'
    ],
    data () {
      return {
        agreement_id: 0,
      }
    },
    mounted () {
      eventHub.$on('selected-agreement-id', (selected_id) => {
        this.agreement_id = selected_id
      })
    },
    methods: {
      onTrashAgreement: function () {
        let url = route('frontend.ceap.agreements.destroy', this.agreement_id)
        axios.delete(url, {params: {forceDelete: false}})
          .then((response) => {
            window.location = route('frontend.ceap.agreements.index')
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      }
    }
  }
</script>