<template>
    <panel>
        <template slot="heading">
            <h3 class="panel-title">{{ agreement_title }}</h3>
        </template>
        <template slot="body">
            <form v-on:submit.prevent="onUpdateAgreement" @click="errors.clear($event.target)">
                <!--Título-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.agreements.title.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.agreements.title' | trans"></i>
                    <input type="text" class="form-control" v-model="title" id="title"
                           :placeholder="'ceap.agreements.title.placeholder' | trans">
                    <span class="help-form" v-if="errors.has('title')" v-text="errors.get('title')"></span>
                </div>
                <!--Detalhamento-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.agreements.details.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.agreements.title' | trans"></i>
                    <summernote id="details" class="form-control"
                                name="editor"
                                :model="details"
                                v-on:change="value => { details = value }"
                                :placeholder="'ceap.agreements.details.placeholder' | trans"
                    ></summernote>
                    <span class="help-form" v-if="errors.has('details')" v-text="errors.get('details')"></span>
                </div>
                <!--Assuntos Relacionados-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.agreements.topic_tags.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.agreements.topicTags' | trans"></i>
                    <select :data-placeholder="'ceap.agreements.topic_tags.placeholder' | trans" id="topic_tags" v-model="topic_tags" class="form-control" multiple
                            v-select2 style="width: 100%;">
                        <option v-for="(topicTag, index) in topic_tags_list" :value="index">{{ topicTag }}</option>
                    </select>
                    <span class="help-form" v-if="errors.has('topic_tags')" v-text="errors.get('topic_tags')"></span>
                </div>
                <!--Envolvidos-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.agreements.roles.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.agreements.roles' | trans"></i>
                    <select :data-placeholder="'ceap.agreements.roles.placeholder' | trans" id="agreement_role" v-model="agreement_role" class="form-control" multiple
                            v-select2 style="width: 100%;">
                        <option v-for="(agreementRole, index) in agreement_roles_list" :value="index">{{ agreementRole }}</option>
                    </select>
                    <span class="help-form" v-if="errors.has('agreement_role')" v-text="errors.get('agreement_role')"></span>
                </div>
                <!--Ações Relacionadas-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.agreements.actions.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.agreements.actions' | trans"></i>
                    <select :data-placeholder="'ceap.agreements.actions.placeholder' | trans" id="actions" v-model="actions" class="form-control" multiple
                            v-select2 style="width: 100%;">
                        <option v-for="(relatedAction, index) in related_actions" :value="index">{{ relatedAction }}</option>
                    </select>
                    <span class="help-form" v-if="errors.has('actions')" v-text="errors.get('actions')"></span>
                </div>
                <!--Periodicidade da Execução-->
                <div class="form-group col-md-6 col-sm-12">
                    <label class="control-label">{{ 'ceap.agreements.execution_cycle.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.agreements.evaluationCycle' | trans"></i>
                    <select :data-placeholder="'ceap.agreements.execution_cycle.placeholder' | trans"
                            id="evaluation_cycles" v-model="evaluation_cycle_id" class="form-control" style="width: 100%;">
                        <option selected disabled value>{{ 'ceap.agreements.execution_cycle.placeholder' | trans }}</option>
                        <option v-for="(evaluationCycle, index) in evaluation_cycles" :value="index">{{ evaluationCycle }}</option>
                    </select>
                    <span class="help-form" v-if="errors.has('evaluation_cycle_id')" v-text="errors.get('evaluation_cycle_id')"></span>
                </div>
                <!--Forma de Monitoramento-->
                <div class="form-group col-md-6 col-sm-12">
                    <label class="control-label">{{ 'ceap.agreements.evaluation_strategy.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.agreements.monitoringStrategy' | trans"></i>
                    <select :data-placeholder="'ceap.agreements.evaluation_strategy.placeholder' | trans"
                            id="monitoring_strategies" name="monitoring_strategies"
                            v-model="agreement_monitoring_strategy_id" class="form-control"
                            style="width: 100%;">
                        <option selected disabled value>{{ 'ceap.agreements.evaluation_strategy.placeholder' | trans }}</option>
                        <option v-for="(monitoringStrategy, index) in monitoring_strategies" :value="index">{{ monitoringStrategy }}
                        </option>
                    </select>
                    <span class="help-form" v-if="errors.has('agreement_monitoring_strategy_id')" v-text="errors.get('agreement_monitoring_strategy_id')"></span>
                </div>
                <div class="form-group center-buttons col-md-12 col-sm-12 col-xs-12">
                    <input class="btn btn-success" type="submit" :value="'ceap.button.save' | trans">
                    <a class="btn btn-danger" @click="onCancelAgreement" type="reset">{{ 'ceap.button.cancel' | trans}}</a>
                </div>
            </form>
        </template>
    </panel>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { Select2 } from '../../../directives/Select2Directive'

  export default {
    props: [
      'id',
      'agreement_title',
      'topic_tags_list',
      'agreement_roles_list',
      'related_actions',
      'evaluation_cycles',
      'monitoring_strategies'
    ],
    data () {
      return {
        title: '',
        details: '',
        topic_tags: [],
        agreement_role: [],
        actions: [],
        evaluation_cycle_id: [],
        agreement_monitoring_strategy_id: [],
        errors: new Errors(),
      }
    },
    directives: {
      Select2
    },
    created () {
      this.getAgreementData()
    },
    methods: {
      onCancelAgreement: function (location) {
        window.location = route('frontend.ceap.agreements.show', this.id)
      },
      onUpdateAgreement: function () {
        let url = route('frontend.ceap.agreements.update', this.id)
        axios
          .patch(url, this.$data)
          .then((response) => {
            window.location = route('frontend.ceap.agreements.show', this.id)
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      },
      getAgreementData: function () {
        let url = route('frontend.ceap.agreements.show', this.id)
        axios.defaults.headers.common['Accept'] = 'application/json'
        axios
          .get(url)
          .then(response => {
            console.log(response.data)
            this.title = response.data.title
            $('#details').summernote('code', response.data.details)

            let selected_topic_tags = []
            response.data.topic_tags.forEach(function (topic_tags) {
              selected_topic_tags.push(topic_tags.id)
            })
            $('#topic_tags').val(selected_topic_tags).trigger('change')
            this.topic_tags = selected_topic_tags

            let selected_agreement_role = []
            response.data.agreement_roles.forEach(function (agreement_roles) {
              selected_agreement_role.push(agreement_roles.id)
            })
            $('#agreement_role').val(selected_agreement_role).trigger('change')
            this.agreement_role = selected_agreement_role

            let selected_actions = []
            response.data.actions.forEach(function (actions) {
              selected_actions.push(actions.id)
            })
            $('#actions').val(selected_actions).trigger('change')
            this.actions = selected_actions

            this.evaluation_cycle_id = response.data.evaluation_cycle_id
            this.agreement_monitoring_strategy_id = response.data.agreement_monitoring_strategy_id
          })
          .catch(errors => {console.log(errors.response.data)})
      }
    },
    components: {
      'summernote': require('../../../frontend/summernoteComponent'),
    }
  }
</script>

<style>
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        font-size: 22pt;
        height: 26px;
        margin-top: -14px;
        float: right;
        margin-left: 5px;
    }

    .select2-container .select2-selection--single {
        height: 36px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        margin-top: 3px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        margin-top: 4px;
        margin-right: 4px;
    }
</style>