//Colors
$white: #FFFFFF;
$black: #000000;

$home-color: #5BC0DE;
$planning-color: #F73545;
$monitoring-color: #325FAD;
$agreements-color: #23A493;
$management-color: #FFB736;
$evidence-color: #D8E6E7;
$help-form-color: #8B0000;
$thumbnail-background-color: #EDEDED;

$planning-color-hover: #FEEAEC;
$monitoring-color-hover: #EAEFF6;
$agreements-color-hover: #E9F5F4;
$management-color-hover: #FFF7EA;

// Menu
$main-colors: (
        'planning-color': $planning-color,
        'monitoring-color': $monitoring-color,
        'agreements-color': $agreements-color,
        'management-color': $management-color
);

$main-colors-hover: (
        'planning-hover': $planning-color-hover,
        'monitoring-hover': $monitoring-color-hover,
        'agreements-hover': $agreements-color-hover,
        'management-hover': $management-color-hover
);

.home-color {
  color: $white !important;
  background-color: $home-color !important;
  border-color: $home-color;
  font-size: 16px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}

@each $section, $hex in $main-colors {
  .#{$section} {
    color: $white !important;
    background-color: $hex !important;
    border-color: $hex;
    font-size: 16px;
    margin-top: 5px;
    border-top-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
  }

  .#{$section}-border {
    border: 1px solid $hex;
  }
}

@each $section, $hex in $main-colors-hover {
  ##{$section}, #navbar-#{$section} {
    > a:hover {
      background-color: $hex !important;
    }
  }
}

// Icons
$font-family: FontAwesome;
$padding-right: 5px;

$monitoring-panel-icon: "\f0e4";
$monitoring-actions-icon: "\f085";
$monitoring-goals-icon: "\f0ae";
$monitoring-indicators-icon: "\f278";

$actions-create-icon: "\f013";
$actions-evidences-icon: "\f187";
$actions-priority-icon: "\f2c7";
$actions-evaluate-icon: "\f14a";

$goals-create-icon: "\f05b";

$indicators-create-icon: "\f276";
$indicators-add-value-icon: "\f0fe";
$indicators-history-icon: "\f1da";
$indicators-graph-icon: "\f201";

$agreements-create-icon: "\f14b";
$agreements-index-icon: "\f02d";

$print-chart-icon: "\f02f";

$menu-icons: (
        'btn-monitoring-panel': $monitoring-panel-icon,
        'btn-monitoring-actions': $monitoring-actions-icon,
        'btn-monitoring-goals': $monitoring-goals-icon,
        'btn-monitoring-indicators': $monitoring-indicators-icon,
        'btn-actions-create': $actions-create-icon,
        'btn-goals-create': $goals-create-icon,
        'btn-indicators-create': $indicators-create-icon,
        'btn-actions-evidences': $actions-evidences-icon,
        'btn-actions-priority': $actions-priority-icon,
        'btn-actions-evaluate': $actions-evaluate-icon,
        'btn-indicators-add-value': $indicators-add-value-icon,
        'btn-indicators-history': $indicators-history-icon,
        'btn-indicators-graph': $indicators-graph-icon,
        'btn-agreements-create': $agreements-create-icon,
        'btn-agreements-index': $agreements-index-icon,
        'btn-print-chart': $print-chart-icon
);

@mixin fontawesome-mixin($content) {
  font-family: $font-family;
  content: $content;
  padding-right: $padding-right;
}

@each $section, $icon in $menu-icons {
  .#{$section}:before {
    @include fontawesome-mixin($icon);
  }
}

$accordion-toggle-icon: "\f068";
$accordion-toggle-collapsed-icon: "\f067";
$home-icon: "\f015";

$menu-mobile-icons: (
        'accordion-toggle': $accordion-toggle-icon,
        'accordion-toggle.collapsed': $accordion-toggle-collapsed-icon,
);

@each $section, $icon in $menu-mobile-icons {
  .panel .#{$section}:after {
    @include fontawesome-mixin($icon);
    float: left;
  }
}

.home-icon:after {
  @include fontawesome-mixin($home-icon);
  float: left;
  margin-top: -34px;
}

// Logo
@mixin img-logo-mixin($width: 100px, $height: 100px) {
  width: $width;
  height: $height;
}

img.logo-login {
  @include img-logo-mixin();
  margin: 20px;
  margin-left: 100px;
}

img.logo-navbar {
  @include img-logo-mixin(40px, 40px);
  margin-top: -10px;
  margin-bottom: -5px;
}

@mixin navbar-default-mixin($position: static) {
  position: $position;
}

.navbar-default {
  @include navbar-default-mixin(fixed);
  top: 0;
  border-width: 0 0 1px;
  right: 0;
  left: 0;
  z-index: 1;
}

@mixin body-padding-top-mixin($padding-top: 60px) {
  padding-top: $padding-top;
}

body {
  @include body-padding-top-mixin();
}

.thumbnail-background {
  background-color: $thumbnail-background-color;
}

.thumbnail .caption {
  padding: 0 40px 0 40px;
}

.thumbnail {
  text-align: center;
  height: 200px;
}

.badge {
  font-size: 50px;
  margin-right: 10px;
  margin-bottom: 4px;
}

.note-editor.note-frame.panel {
  z-index: 0;
}

.evidence-color {
  color: $black;
  background-color: $evidence-color;
  border-color: $evidence-color;
}

.help-form {
  color: $help-form-color;
  font-weight: bold;
  margin: 5px 0 0 5px;
  display: inline-block;
}

.panel {
  margin-bottom: 5px;
}

.panel-title-buttons {
  padding: 0 12px 0 12px;
  margin-top: -5px;
}

.center-buttons {
  margin: 0 auto;
  text-align: center;
}

// leftovers - ceap.css

/*!
 * CEAP Project stylesheet
 */

table.dataTable thead th.dt-checkboxes-select-all, table.dataTable tbody td.dt-checkboxes-cell {
  text-align: left !important;
}

.text {
  margin-top: 50px;
  text-align: left;
}

.text-well-login {
  height: 270px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.title-login {
  font-size: 40pt;
  margin: 20px;
}

.label-input {
  font-weight: 100;
}

.btn-right-inicio {
  float: right;
  padding-top: 0px;
  padding-bottom: 0px;
}

.list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel .accordion-toggle:after {
  font-family: 'FontAwesome';
  content: "\f068";
  float: left;
}

.panel .accordion-toggle.collapsed:after {
  content: "\f067";
}

.home-icon:after {
  font-family: 'FontAwesome';
  content: "\f015";
  float: left;
  margin-top: -34px;
}

.panel-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0px;
  margin-top: 3px;
}

.datepicker-dropdown {
  z-index: 1040;
}

.panel-group {
  margin-bottom: 0;
}

.navbar-default {
  position: fixed;
  top: 0;
  border-width: 0 0 1px;
  right: 0;
  left: 0;
  z-index: 1;
}

.remove-icon-center {
  text-align: center;
  padding-left: 0px;
}

.modal-body {
  display: block;
  overflow: auto;
  max-height: calc(100vh - 160px);
}

.modal-header {
  background-color: black;
  color: white;
}

.close {
  color: $white;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: $white;
  opacity: 0.75;
}

.checkbox-row {
  text-align: center;
}

.dd-title {
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: bold;
  font-size: 1.7em;
}

dt {
  font-size: 1.1em;
}

.separator-xs-bottom {
  margin-bottom: 10px;
}

.separator-xs-top {
  margin-top: 10px;
}

select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20fill%3D%22%23555555%22%20%0A%09%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%22-261%20145.2%2024%2024%22%20style%3D%22enable-background%3Anew%20-261%20145.2%2024%2024%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20d%3D%22M-245.3%2C156.1l-3.6-6.5l-3.7%2C6.5%20M-252.7%2C159l3.7%2C6.5l3.6-6.5%22%2F%3E%0A%3C%2Fsvg%3E") !important;
  padding-right: 25px !important;
  background-repeat: no-repeat;
  background-position: right center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

div.dataTables_wrapper div.dataTables_length select {
  padding-top: 0;
}

a.btn.btn-default:nth-child(n+4) {
  margin-top: 10px;
}

.checkbox-ceap {
  text-align: right;
  display: block !important;
}

.select-temp, .checkbox-temp {
  visibility: hidden;
}

@media (max-width: 768px) {
  body {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .navbar-default {
    position: static;
  }

  #app > nav > div > div.navbar-header > a > span {
    font-size: 15px;
  }

  .dd-title {
    font-size: 1.2em;
  }

  .separator-sm-bottom {
    margin-bottom: 10px;
  }

  .separator-sm-top {
    margin-top: 10px;
  }

  .breadcrumb-responsive {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20vw;
    color: #337cbb;
    margin-bottom: -5px;
  }

  .table-specialresponsive > thead,
  .table-specialresponsive > tbody,
  .table-specialresponsive > tbody > tr,
  .table-specialresponsive > thead > tr,
  .table-specialresponsive > tfoot > tr,
  .table-specialresponsive > tbody > tr > td,
  .table-specialresponsive > thead > tr > td,
  .table-specialresponsive > tfoot > tr > td,
  .table-specialresponsive > tbody > tr > th,
  .table-specialresponsive > thead > tr > th,
  .table-specialresponsive > tfoot > tr > th {
    display: block;
  }

  .table-specialresponsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-specialresponsive tr {
    border-top: 1px solid #ccc;
  }

  .table-specialresponsive > tbody > tr > td,
  .table-specialresponsive > tfoot > tr > td {
    border: none;
    position: relative;
    padding-left: 50vw;
    white-space: normal;
    text-align: left;
  }

  .table-specialresponsive > tbody > tr > td:before,
  .table-specialresponsive > tfoot > tr > td:before {
    position: absolute;
    left: 6px;
    width: 50%;
    padding-right: 10px;
    white-space: pre-line;
    text-align: left;
    font-weight: bold;
    content: attr(data-title);
  }

  .checkbox-row {
    text-align: left;
  }

  .fixed-bottoms-buttons {
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 60px;
    left: 0px;
    padding-top: 10px;
  }

  a.btn.btn-default:nth-child(n+4) {
    margin-top: 0px;
  }

  .dataTables_filter {
    margin-top: 0px;
  }
  .checkbox-ceap {
    text-align: center;
    display: block !important;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 10px auto 0 auto;
  }

  .logotipo {
    text-align: right;
    margin-bottom: 20px;
    margin-top: -10px;
    margin-left: -50px;
  }

}

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo-login {
    width: 70px;
    height: 70px;
    margin: 15px;
  }

  .text {
    margin-top: 20px;
    margin-right: 5px;
    text-align: center;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .text {
    margin-top: 20px;
    margin-right: 40px;
    text-align: center;
  }

  img.logo-login {
    width: 70px;
    height: 70px;
    margin: 15px;
    margin-left: 45px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  img.logo-login {
    width: 100px;
    height: 100px;
    margin: 20px;
  }
}