<!--suppress ALL -->
<template>
    <!--Panel Header-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title btn-goals-create">{{ title }}</h3>
        </div>
        <!--Panel Body-->
        <div class="panel-body">
            <form v-on:submit.prevent="onUpdateGoal" @click="errors.clear($event.target)">
                <!--Nome-->
                <div class="form-group col-md-12 col-sm-12">
                    <label class="control-label">{{ 'ceap.goals.name.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.goals.name' | trans"></i>
                    <input type="text" class="form-control" v-model="name" id="name"
                           :placeholder="'ceap.goals.name.placeholder' | trans">
                    <span class="help-form" v-if="errors.has('name')" v-text="errors.get('name')"></span>
                </div>
                <!--Justificativa-->
                <div class="form-group col-md-12 col-sm-12">
                    <label for="justification" class="control-label">{{ 'ceap.goals.justification.label' | trans
                        }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.goals.justification' | trans"></i>
                    <summernote id="justification" class="form-control"
                                name="editor"
                                :model="justification"
                                v-on:change="value => { justification = value }"
                                :placeholder="'ceap.goals.justification.placeholder' | trans"
                    ></summernote>
                    <span class="help-form" v-if="errors.has('justification')"
                          v-text="errors.get('justification')"></span>
                </div>
                <!--Indicador-->
                <div class="form-group col-md-12 col-sm-12">
                    <label for="indicator_id" class="control-label">{{ 'ceap.actions.indicator.label' | trans }}</label>
                    <i class="fa fa-info-circle fa-fw" data-toggle="tooltip" data-placement="right"
                       :title="'tooltips.goals.indicator' | trans"></i>
                    <select id="indicator_id" v-model="indicator_id" class="form-control"
                            v-select2 style="width: 100%;">
                        <option selected disabled value>{{ 'ceap.actions.indicator.placeholder' | trans }}</option>
                        <option v-for="(indicator, index) in indicators_select" :value="index">{{ indicator }}</option>
                    </select>
                    <span class="help-form" v-if="errors.has('indicator_id')"
                          v-text="errors.get('indicator_id')"></span>
                </div>
                <div class="form-group center-buttons col-md-12 col-sm-12 col-xs-12">
                    <input class="btn btn-success" type="submit" :value="'ceap.button.save' | trans">
                    <a class="btn btn-danger" @click="onCancelGoal" type="reset">{{ 'ceap.button.cancel' | trans}}</a>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
  import { Errors } from '../../../frontend/errors'
  import { Select2 } from '../../../directives/Select2Directive'

  export default {
    props: [
      'title',
      'indicators_select',
      'id'
    ],
    data () {
      return {
        indicator_id: '',
        name: '',
        justification: '',
        errors: new Errors(),
      }
    },
    mounted () {
      this.getGoalData()
    },
    methods: {
      onUpdateGoal: function () {
        let url = route('frontend.ceap.goals.show', this.id)
        axios.patch(url, this.$data)
          .then(function (response) {
            window.location = url
          })
          .catch(error => this.errors.record(error.response.data.errors))
      },
      onCancelGoal: function (location) {
        window.location = route('frontend.ceap.goals.show', this.id)
      },
      getGoalData: function () {
        let url = route('frontend.ceap.goals.show', this.id)
        axios.defaults.headers.common['Accept'] = 'application/json'
        axios
          .get(url)
          .then(response => {
            this.name = response.data.name
            $('#justification').summernote('code', response.data.justification)
            let indicatorId = response.data.indicator_id
            $('#indicator_id').val(indicatorId).trigger('change')
            this.indicator_id = indicatorId
          })
          .catch(errors => {console.log(errors.response.data)})
      }
    },
    directives: {
      Select2
    },
    components: {
      'summernote': require('../../../frontend/summernoteComponent'),
    }
  }
</script>

<style>
    .select2-container .select2-selection--single {
        height: 36px;
        padding: 3px 4px;

    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        top: 5px;
        right: 5px;
    }

    select {
        background-image: url("") !important;
    }
</style>
