<template>
    <modal :id="'trashGoalModal'" :title="'ceap.goals.modal.trash.title' | trans">
        <div slot="content">
            <h4>{{ 'ceap.goals.modal.trash.message' | trans }}</h4>
            <p>{{ 'ceap.goals.modal.trash.text' | trans }}</p>
        </div>
        <template slot="buttons">
            <a class="btn btn-default" data-dismiss="modal">{{ 'ceap.button.cancel' | trans}}</a>
            <input type="submit" :value="'ceap.button.trash' | trans" class="btn btn-warning"
                   @click="onTrashGoal">
        </template>
    </modal>
</template>

<script>
  export default {
    props: [
      'id'
    ],
    data () {
      return {
        indicator_id: this.id,
      }
    },
    methods: {
      onTrashGoal: function () {
        let url = route('frontend.ceap.goals.destroy', this.indicator_id)
        axios.delete(url, {params: {forceDelete: false}})
          .then((response) => {
            window.location = route('frontend.ceap.goals.index')
          })
          .catch(error => {
            this.errors.record(error.response.data.errors)
          })
      }
    }
  }
</script>